[Desktop Entry]
Name=Paramétrage
Exec=bash -c "cd /absolute_dir/vertebr && npx electron@28 electron/main.js"
Icon=/absolute_dire/vertebr/docs/images/vertebr-logo-desktop.png
Terminal=false
Type=Application
Categories=Utility;
